@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/*.......................................................................................................................
Body CSS
.......................................................................................................................*/

body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #EEE1C8;
        font-family: 'Roboto Condensed', sans-serif;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
}

p, h1, h2, h3, h4, h5, h6, ul, li, a {
        padding: 0;
        margin: 0;
        color: #F6F7F2;
}

a {
        text-decoration: none;
}
ul {
        list-style: none;
}

*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                        box-sizing: border-box;
}

.row::after {
        content: "";
        clear: both;
        display: block;
}

[class*="col-"] {
        float: left;
        padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
        width: 100%;
}

@media only screen and (min-width: 600px) {
        /* For tablets: */
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
        /* For desktop: */
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
}

.flex-container {
        display: -webkit-flex;
        display: flex;
       -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: 100%;
}

.flex-item {
        background-color: transparent;
        width: 100%;
        margin: 0;
}

.header {
        -webkit-align-self: flex-start;
        align-self: flex-start;
        height: 100px;
        padding: 0px;
        position: relative;
        background: #36241A;
        color: #F6F7F2;
}

.header-container {
        position: relative;
        height:100%;
}

.logo {
        height: 100%;
        font-family: 'Poiret One', cursive !important;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        font-weight: bolder;
        border-right: 5px solid #F89F3D;
}

.header-nav {
        background: transparent;
        height: 100%;
}

.header-nav nav {
        position: relative;
        top: 20%;
        display: inline-block;
        float: right;
}

.header-nav nav ul{
        display: inline-block;
        float: right;
}


.header-nav nav li{
        display: inline-block;
        border-radius: 0px;
        padding: 10px;
        width: 150px;
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
}

@media only screen and (min-width: 768px) {
        .header-nav nav li{
                width: 100px;
                font-size: 16px;
        }
        
}

@media only screen and (max-width: 350px) {
        .header {
                height: 60px !important;
        }
        
        .logo {
                height: 100%;
                font-family: 'Poiret One', cursive !important;
                font-size: 25px;
                line-height: 30px;
                text-align: left;
                font-weight: bolder;
                border-right: 0px solid #F89F3D;
        }
        
        .header-nav nav ul{
                display: block !important;
                width: 200px;
                background: #36241A;
        }
        
        .header-nav nav li{
                display: block;
                width: 100%;
                text-align: left;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        
        .header-nav nav li:first-child {
                border-top: 0px solid rgba(255, 255, 255, 0.5);
        }

        .header-nav nav li:last-child {
                border-bottom: 0px solid rgba(0, 0, 0, 0.5);
        }
        
}

.header-nav nav li:first-child {
        border-left: 0px solid rgba(255, 255, 255, 0.5);
}

.header-nav nav li:last-child {
        border-right: 0px solid rgba(0, 0, 0, 0.5);
}

.header-nav nav li:hover, .header-nav nav li:active, .header-nav nav li:focus{
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        background: transparent;
}

.header-nav nav li:hover a, .header-nav nav li:active a, .header-nav nav li:focus a{
        color: #F89F3D;
}

.header-nav nav li.active{
        background: transparent;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
}

.show-nav {
        display: none;
        background: #F89F3D;
        cursor: pointer;
}

/*.............................................................................................................*/
.show-nav {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;
        text-align: center;
        line-height: 50%;
        z-index: 1;
}

.show-nav i {
        height: 50%;
        color: #fff;
        font-size: 30px;
        text-align: center;
        padding-top: 5%;
        margin: 25%;
}
/*.................................................................................................................*/
@media only screen and (max-width: 1260px) {
        .logo {
                height: 100%;
                font-family: 'Poiret One', cursive !important;
                font-size: 50px;
                line-height: 60px;
                text-align: center;
                font-weight: bolder;
                border-right: 5px solid #F89F3D;
        }
}

@media only screen and (max-width: 1080px) {
        .logo {
                height: 100%;
                font-family: 'Poiret One', cursive !important;
                font-size: 40px;
                line-height: 60px;
                text-align: center;
                font-weight: bolder;
                border-right: 5px solid #F89F3D;
        }
}

@media only screen and (max-width: 880px) {
        .logo {
                height: 100%;
                font-family: 'Poiret One', cursive !important;
                font-size: 33px;
                line-height: 60px;
                text-align: center;
                font-weight: bolder;
                border-right: 5px solid #F89F3D;
        }
}

@media only screen and (max-width: 767px) {
        .header {
                height: 60px !important;
        }
        
        .show-nav {
                display: block;
        }

        .header-nav {
                display: none;
                width: 220px;
                position: absolute;
                height: auto;
                padding: 0;
                top: 100%;
                right: 0;
                z-index: 1;
                border-top: 5px solid #F89F3D;
        }
        
        .logo {
                height: 100%;
                font-family: 'Poiret One', cursive !important;
                font-size: 33px;
                line-height: 30px;
                text-align: left;
                font-weight: bolder;
                border-right: 0px solid #F89F3D;
        }
        
        .header-nav nav{
                margin: 0;
                width: 100%;
        }
        
        .header-nav nav ul{
                display: block !important;
                width: 100%;
                background: #36241A;
        }
        
        .header-nav nav li{
                display: block;
                width: 100%;
                text-align: left;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        
        .header-nav nav li:first-child {
                border-top: 0px solid rgba(255, 255, 255, 0.5);
        }

        .header-nav nav li:last-child {
                border-bottom: 0px solid rgba(0, 0, 0, 0.5);
        }
}

.content {
        height: 100%;
        -webkit-align-self: stretch;
        align-self: stretch;
}

.restaurant-foods {
        background: #F89F3D;
        position: relative;
        height: 440px;
}



@media only screen and (min-width: 1068px) {
        .restaurant-foods img{
                height: auto;
                min-height: 200px;
                max-height: 440px;
                width: 100%;
                position: absolute;
                object-fit: cover;
        }
}

@media only screen and (max-width: 1067px) {
        .restaurant-foods {
                max-height: 360px;
                height: 360px;
        }
        .restaurant-foods img{
                height: auto;
                max-height: 360px;
                min-height: 360px;
                width: 100%;
                position: absolute;
                object-fit: cover;
        }
}

@media only screen and (max-width: 700px) {
        .restaurant-foods {
                max-height: 220px;
                height: 220px;
        }
        .restaurant-foods img{
                height: auto;
                max-height: 220px;
                min-height: 220px;
                width: 100%;
                position: absolute;
                object-fit: cover;
        }
}

@keyframes imageChangeFadeInOut {
        0% {
            opacity:1;
        }
        17% {
            opacity:1;
        }
        25% {
            opacity:0;
        }
        92% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
}

@-webkit-keyframes imageChangeFadeInOut {
        0% {
            opacity:1;
        }
        17% {
            opacity:1;
        }
        25% {
            opacity:0;
        }
        92% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
}
    
.restaurant-foods img:nth-of-type(1) {
        animation-delay: 20s;
        -webkit-animation-delay: 20s;
        -webkit-backface-visibility: hidden;
}
.restaurant-foods img:nth-of-type(2) {
        animation-delay: 15s;
        -webkit-animation-delay: 15s;
        -webkit-backface-visibility: hidden;
}
.restaurant-foods img:nth-of-type(3) {
        animation-delay: 10s;
        -webkit-animation-delay: 10s;
        -webkit-backface-visibility: hidden;
}
.restaurant-foods img:nth-of-type(4) {
        animation-delay: 5s;
        -webkit-animation-delay: 5s;
        -webkit-backface-visibility: hidden;
}
.restaurant-foods img:nth-of-type(5) {
        animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -webkit-backface-visibility: hidden;
}

.restaurant-foods img {
        animation-name: imageChangeFadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 20s;

        -webkit-animation-name: imageChangeFadeInOut;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 20s;
        -webkit-transform-style: preserve-3d;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
}

.food-details {
        height: 100%;
        border-right: 5px solid #F89F3D;
        padding: 0px;
        position: absolute;
}

.food-detail {
        height: 100%;
        background: rgba(0,0,0, 0.6);
        width: 70%;
        float: left;
        position: relative;
}

@media only screen and (min-width: 1060px) {
        .food-detail{
                width: 70%;
                float: right;
        }
        
}

@media only screen and (max-width: 1060px) {
        .food-detail{
                width: 90%;
                float: right;
        }
        
}

@media only screen and (max-width: 768px) {
        .food-detail{
                width: 40%;
                float: left;
                border-right: 5px solid #F89F3D;
        }
        
        .food-details {
                height: 100%;
                border-right: 0px solid #F89F3D;
                padding: 0px;
                position: absolute;
        }
        
}

@media only screen and (max-width: 600px) {
        .food-detail{
                width: 50%;
                float: left;
                border-right: 5px solid #F89F3D;
        }
        
        .food-details {
                height: 100%;
                border-right: 0px solid #F89F3D;
                padding: 0px;
                position: absolute;
        }
        
}

@media only screen and (max-width: 480px) {
        .food-detail{
                width: 100%;
                float: right;
                border-right: 0px solid #F89F3D;
        }
        
        .bg-order {
                position: absolute;
                bottom: 20px;
                width: 100%;
                text-align: right !important;
                padding-right: 10px;
        }
        
        .food-details {
                height: 100%;
                border-right: 0px solid #F89F3D;
                padding: 0px;
                position: absolute;
        }
}

.bg-order {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
}

.bg-order a {
        background: #F89F3D;
        padding: 10px 30px;
        border-radius: 20px;
        color: #fff;
}

.bg-order a:hover {
        background: #36241A;
        color: #F89F3D;
}

h2 {
        color: #36241A;
}

.padding {
        padding: 0 100px;
}

@media only screen and  (max-width: 480px) {
        .padding {
                padding: 0 10px;
        }
}

@media only screen and  (min-width: 480px)  and  (max-width: 900px){
        .padding {
                padding: 0 50px;
        }
}

.about {
        border: 1px solid #36241A;
        border-radius: 5px 0 0 5px;
        border-right: 5px solid #36241A;
        padding: 10px;
        background: #fff;
        color: #36241A;
        text-align: center;
}

.about p {
        color: #36241A;
        line-height: 30px;
        font-size: 20px;
}

@media only screen and  (max-width: 1024px) {
        .about p {
                line-height: 20px;
                font-size: 80%;
        }
}

.cartegory {
        display: inline-block;
        border-radius: 5px;
        border: 1px solid;
        padding: 10px;
        padding-top: 0px;
}

.cartegory h3 {
        margin: 0px;
        padding: 10px;
        border-bottom: 2px solid;
        margin-bottom: 10px;
        box-sizing: border-box;
        clear:both
}

.menu-item {
        border: 1px solid #36241A;
        min-height: 180px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 10px;
        width: 100%;
}

.menu-width {
        min-width: 320px;
}

.menu-item h4 {
        margin: 0px;
        padding: 10px;
        background: #36241A;
        color: #fff;
}

.menu-item table {
        width: 100%;
        padding: 5px;
        height: 100%;
        border: 0px solid;
        border-collapse: collapse;
        border-spacing: 0;
        
}

.menu-table {
        padding: 10px;
        height: 100%;
        min-height: 120px;
        width: 100%;
        display: inline-block;
}

.menu-table-img {
        width:40%;
        height: 125px;
        display: inline-block;
        float: left;
}

.menu-table-tbl {
        border: 1px solid #36241A;
        width:60%;
        height: 125px;
        display: inline-block;
        float: left;
        border-radius: 5px;
}

.menu-table-tbl table {
        width: 100%;
}

.menu-table-tbl table td {
        padding: 5px;
        width: 50%;
}

.menu-table-tbl a {
        background: #F89F3D;
        padding: 6px 20px;
        border-radius: 20px;
        color: #fff;
        width: 100%;
        min-width: 150px;
}

.menu-table-tbl a:hover {
        background: #36241A;
        color: #F89F3D;
}

@media only screen and (min-width: 767px)  and (max-width: 1080px) {
        .menu-table-img {
                width: 100%;
                text-align: center;
        }
        
        .menu-table-tbl {
                width: 100%;
                text-align: center;
        }
}

@media only screen and  (max-width: 360px) {
        .menu-table-img {
                width: 100%;
                text-align: center;
        }
        
        .menu-table-tbl {
                width: 100%;
                text-align: center;
        }
}

.footer {
        height: auto;
        clear: both;
        background: #36241A;
        margin-top: 10px;
}

.reservation {
        padding: 10px;
        background: transparent;
}

form {
        border: 1px solid #c6c7cc;
        border-radius: 5px;
        font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        overflow: hidden;
        width: 100%;
}

fieldset {
        border: 0;
        margin: 0;
        padding: 0;
}

input, select, textarea {
        border-radius: 5px;
        font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
}

.reservation-info {
        padding: 20px 20px 0 20px;
}

.reservation-info label {
        color: #fff;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
}

.reservation-info textarea {
        height: 100px;
}

.reservation-info input,
.reservation-info select,
.reservation-info textarea {
        background: #E5E3DB;
        border: 1px solid #c6c7cc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
        color: #636466;
        padding: 6px;
        margin-top: 6px;
        width: 100%;
}

.reservation-action {
        background: #f0f0f2;
        border-top: 1px solid #c6c7cc;
        padding: 10px 20px;
}

.reservation-action .btn {
        background: linear-gradient(#49708f, #293f50);
        border: 0;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        float: left;
        padding: 8px 16px;
        width: 49%;
        text-align: center;
}

.left-btn {
        float: left;
        margin-right: 2%;
}

.left-right {
        float: right;
}

#order, #message {
        padding: 20px;
}
